.message_container, .test_container {
    border: 1px solid blue;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.5rem;
    min-height: 800px;
    width: auto;

}

.test_heading {
    color: blue;
}